{% extends "core/layout.html" %}
{% load static %}

{% block title %}
    My Sessions
{% endblock %}

{% block script %}
    <script src="{% static 'core/my_sessions/mySessions.js' %}"></script>
    <script src="{% static 'core/my_sessions/renderSession.js' %}"></script>
    <script src="{% static 'core/api.js' %}"></script>
    <script src="{% static 'core/getToday.js' %}"></script>
{% endblock %}

{% block username %}
    {{ user.is_authenticated|json_script:"user_is_authenticated" }}
{% endblock %}

{% block body %}
    <div id="SessionsContainer"></div>
    <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-link text-center" id="SessionsArchieveButton">Archieve</button>
    </div>
{% endblock %}